.study-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;

    p {
        font-family: 'Lato', sans-serif;
    }
}

.case-study-header {
    

    h1 {
        
    }

}