@charset "utf-8";

html {
    margin: 0;
    padding: 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2eccbd;
    h1 {
        text-align: center;
        color: white;
    }
    h3 {
        text-align: center;
        color: white;
    }
}
